div.menu {
  width: 100%;
  height: 40px;
  background-color: #2b2b2b;
}
div.menu > nav {
  width: inherit;
  height: inherit;
}
div.menu > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;
  text-align: center;
}
div.menu > nav > ul > li {
  width: auto;
  height: inherit;
  display: inline-block;
}
div.menu > nav > ul > li > a {
  width: auto;
  height: inherit;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
}
label[for="menu"],
#menu,
label[for="close"],
#close {
  display: none;
}
div.slider {
  width: 100%;
  height: calc(100vh - 40px);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.products {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #2b2b2b;
  text-align: center;
}
div.products > div.product {
  width: 30%;
  display: inline-block;
  margin-left: 15px;
}
div.products > div.product > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
}
div.products > div.product > p {
  text-align: justify;
  margin-bottom: 20px;
  color: whitesmoke;
}
div.products > div.product > img {
  width: 100%;
}
div.products > div.product > a {
  display: block;
  width: 150px;
  height: 40px;
  margin: 10px auto;
  background-color: green;
  color: whitesmoke;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
}
