div.menu {
  width: 100%;
  height: 100vh;
  background-color: #2b2b2b;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9999;
  transition: 300ms;
}
div.menu > nav {
  width: inherit;
}
div.menu > nav > ul {
  width: inherit;
  list-style: none;
  text-align: center;
}
div.menu > nav > ul > li {
  width: auto;
  height: inherit;
}
div.menu > nav > ul > li > a {
  width: auto;
  height: inherit;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
  transition: 300ms;
}
div.menu > nav > ul > li > a:hover {
  background-color: deeppink;
}
label[for="menu"] {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #2b2b2b;
  box-shadow: inset 5px 5px 5px deeppink, inset -5px -5px 5px deeppink;
  margin: 5px;
  position: absolute;
  z-index: 9998;
  cursor: pointer;
}
label[for="menu"] > div {
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  left: calc(50% - 80% / 2);
}
label[for="menu"] > div:nth-of-type(1) {
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  left: calc(50% - 80% / 2);
  top: calc(50% - 2px / 2 - 5px);
}
label[for="menu"] > div:nth-of-type(2) {
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  left: calc(50% - 80% / 2);
  top: calc(50% - 2px / 2);
}
label[for="menu"] > div:nth-of-type(3) {
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  left: calc(50% - 80% / 2);
  top: calc(50% - 2px / 2 + 5px);
}
#menu,
#close {
  display: none;
}
#menu:checked ~ div.menu {
  left: 0;
}
label[for="close"] {
  display: block;
  width: 30px;
  height: 30px;
  background-color: crimson;
  text-align: center;
  line-height: 30px;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#close:checked ~ div.menu {
  left: -100%;
}
div.slider {
  width: 100%;
  height: 30vh;

  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.products {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #3b3b3b;
}
div.products > div.product {
  width: 90%;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 50px;
}
div.products > div.product > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
}
div.products > div.product > p {
  text-align: justify;
  margin-bottom: 20px;
  color: whitesmoke;
}
div.products > div.product > img {
  width: 100%;
}
div.products > div.product > a {
  display: block;
  width: 150px;
  height: 40px;
  margin: 10px auto;
  background-color: green;
  color: whitesmoke;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
}
